{% extends "main.html" %}
{% block content %}

<style>
    .room-container{
        display: grid;
        grid-template-columns: 3fr 1fr;
    }
</style>

<div class="room-container">
    <div>
        <h3>{{room.name}}</h3>
        <p>{{room.description}}</p><hr>
        <h3>Conversions</h3>
        <div class="comment-wrapper">
            <div>
                {% for message in message_room %}
                <div>
                    {% if user == message.user  %}
                    <a href="{% url 'deletemessage' message.id %}">Delete</a>
                    {% endif %}
                    <small><a href="{% url 'profile' message.user.id %}">@{{message.user}}</a> {{message.created|timesince}} ago</small>
                    <p>{{message.body}}</p>
                    <hr>
                </div>
                {% endfor %}
            </div>
        </div>
        
        <div class="comment-form">
            <div>
                <form action="" method="post">
                    {% csrf_token %}
                    <input type="text" name="body" id="" placeholder="Write Messages here...">
                </form>
            </div>
        
        </div>
    </div>


    <div>
        <h3>PARTICIPANTS</h3>
        <div>
            {% for user in participants %}
            <div>
                <p>@{{user.username}}</p>
            </div>
            {% endfor %}
        </div>
    </div>

</div>




{% endblock %}